@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Rajdhani:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    background-color: darksalmon;
    color: #ffff;
}

/* Heading and Logo */
h1 {

    font-weight: 500;
    color: #ffff;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;


}

#logo {
    float: left;
    font-size: 250%;
    margin: 10px;
    display: flex;
    justify-content: center;

}


/*Nav links*/

#menu {
    display: flex;
    justify-content: space-between;
    float: right;
    padding: 5px;



}

#menu li {
    display: flex;
    font-weight: 500;
    letter-spacing: 1px;


}

#menu a {
    color: #ffff;
    text-decoration: none;
    padding: 0.5rem;
    display: block;
}

/*when mouse is on the border color shows */
#menu a:hover {
    border-bottom: 1px solid #ffff;
}

#logo-image {
    height: 600px;
    width: 100%;
    background: url(../images/pexels-pixabay-434295.jpg)no-repeat center/cover;
    display: flex;
    align-items: end;
}

#logo-text {
    color: #ffff;
    font-size: 100%;
    font-family: "Rajdhani", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;

    width: 100%;

    padding: 10px 10px;

    background-color: rgb(255, 160, 122, .8);

}

.logo-parent {
    margin-bottom: 100px;
}

/* About us*/


.main {
    margin: 20px auto;
    padding: 10px;
    width: 90%;

    background-color: #ffff;
    color: darksalmon;

    border-radius: 5px;
    text-align: center;
    letter-spacing: 2px;
    font-size: 120%;
}

.main h2 {
    padding: 10px;
}

#reasons li {
    margin-bottom: 10px;

}

#reasons-list {
    list-style: none;
}

/*about images section */
#about-imgs {
    display: flex;

}

#about-imgs img {
    width: 50%;
    border-radius: 5px;
    margin: auto 1px;

}

/*Contact us*/

.contact-us {

    border: 5px solid #ffff;
    border-radius: 7px;
    background-color: rgb(255, 171, 138);

    text-align: center;
    margin: 100px auto;
    width: 60%;
    padding: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.contact-us h3 {
    font-size: 100%;
    margin-bottom: 20px;
}

.text-input {
    width: 100%;
    margin: 0 5px 15px 0;
    border-radius: 4px;
    padding-left: 5px;
}

#contact-text {
    height: 150px;
}

::placeholder {
    font-size: 70%;
    color: darksalmon;
    opacity: 0.5;
    letter-spacing: 1px;

}

/*submit button*/
#submit {
    width: 50%;
    border-radius: 4px;
    height: 20px;
    color: darksalmon;
    background-color: #ffff;
}

/*Footer section*/
#socials {
    background-color: #ffff;
    color: darksalmon;

    padding: 10px;

    text-align: center;
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 1px;

}

#social-media {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 10px 10px 0;

}

#socials li {
    color: darksalmon;

}

.fa-brands {
    color: darksalmon;
    font-size: 150%;
    margin: 10px 5px 10px;
}

/* Media query: tablets and larger (768px and up) */

@media screen and (min-width:650px) {

    /* header */
    #menu li {
        margin: 30px 10px 0 0;
    }
}