@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Rajdhani:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    background-color: darksalmon;
    color: #ffff;
}
/* Heading and Loogo */
h1 {
    font-family: "Comfortaa", sans-serif;
    font-weight: 500;
    color: #ffff;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: 5px;
    
}
#logo {
    float: left;
    font-size: 350%;
}

#logo, #menu {
    line-height: 75px;
    margin-top: 10px;
}

#logo-image {
    height: 720px;
    width: 100%;
   background: url(../images/pexels-pixabay-434295.jpg)no-repeat center/cover;
}

#logo-parent {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#logo-text {
    color: #ffff;
    font-size: 125%;
    font-family: "Rajdhani", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;

    width: 400px;
    height: 300px;

    padding-top: 30px;
    padding-left: 10px;

    background-color: rgb(255, 160, 122, .4);

   bottom: 30px;
   right: 150px;
   position: absolute;
}

/*Nav links*/
#menu {
    font-size: 125%;
    font-weight: 500;
    letter-spacing: 3px;
}
#menu li {
    float: right;
    list-style: none;
    margin-right: 30px;

}
#menu a {
    color: #ffff;
    text-decoration: none;
}

#menu a:hover {
    border-bottom: 1px solid #ffff;
}

