@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Rajdhani:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    background-color: darksalmon;
    color: #ffff;
}
/* Heading and Loogo */
h1 {
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
    color: #ffff;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    
    
}
#logo {
    float: left;
    font-size: 250%;
    padding-top: 20px;
    display: flex;
    justify-content: center;

}


/*Nav links*/

#menu {
    letter-spacing: 4px;
    text-align: center;

}
#menu li {
    float: right;
    list-style: none;
    margin-right: 5px;
  
    padding: 10px 5px 5px;
    
}
#menu a {
    color: #ffff;
    text-decoration: none;
}

#menu a:hover {
    border-bottom: 1px solid #ffff;
}

#logo-image {
    height: 600px;
    width: 100%;
   background: url(../images/pexels-pixabay-434295.jpg)no-repeat center/cover;
   display: flex;
   align-items: end;
}

#logo-text {
    color: #ffff;
    font-size: 100%;
    font-family: "Rajdhani", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    
    width: 100%;
 
    padding:10px 10px;
    
    background-color: rgb(255, 160, 122, .5);
    
}

/* About us*/

#main {
    margin:100px 100px;
}

#main {
    margin: 20px auto;
    padding: 10px;
    width: 90%;

    background-color: #ffff;
    color: darksalmon;

    border-radius: 5px;
    text-align: center;
    letter-spacing: 2px;
}

#main h2 {
  padding: 10px;
}

#reasons li {
    margin-bottom: 10px;
    
}

#contact-us {
    text-align: center;
    margin: 100px auto;
}

/* Media query: tablets and larger (768px and up) */

@media screen and (min-width:506px) {
    /* header */
    #logo {
        padding: 5px 20px;
    } 
}


